<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Codability</name>
    <description>
        An E-leanring app to help encourage women to learn code in an interactive and personalised way.
    </description>
    <author email="ll16clc@leeds.ac.uk" href="http://cordova.io">
        Codability
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="hdpi" src="/res/icon/android/Icon-72.png" />
        <icon density="xhdpi" src="/res/icon/android/Icon-96.png" />
        <icon density="xxhdpi" src="/res/icon/android/Icon-144.png" />
        <icon density="xxxhdpi" src="/res/icon/android/Icon-192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="/res/icon/ios/Icon-180.png" width="180" />
        <icon height="60" src="/res/icon/ios/Icon-60.png" width="60" />
        <icon height="120" src="/res/icon/ios/Icon-60@2x.png" width="120" />
        <icon height="76" src="/res/icon/ios/Icon-76.png" width="76" />
        <icon height="152" src="/res/icon/ios/Icon-76@2x.png" width="152" />
        <icon height="40" src="/res/icon/ios/Icon-40.png" width="40" />
        <icon height="80" src="/res/icon/ios/Icon-80.png" width="80" />
        <icon height="167" src="/res/icon/ios/Icon-167.png" width="167" />
        <icon height="29" src="/res/icon/ios/Icon-29.png" width="29" />
        <icon height="58" src="/res/icon/ios/Icon-58.png" width="58" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
