.body {
  background-color: #FFFFFF;
}
/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: #3F0068;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100vw; 
  text-align: center; 
}
.navbar__links {
    align-items: center;
}
.material-icons {
    margin: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a {
  display: inline-grid; 
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.navbar a:hover {
  color: #E26CBA;
}
.top {
    overflow: hidden;
    background-color: #E26CBA;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100vw;
}
h1 {
    text-align: center; 
    color: #3F0068;
    font-family: 'Poppins', sans-serif;
}