.body {
  background-color: #FFFFFF;
}
/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: #3F0068;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100vw; 
}
.navbar__links {
    align-items: center;
    padding: auto; 
}
.navbar a {
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.navbar a:hover {
  color: #E26CBA;
}
span { 
    margin: 0.5em; 
}
a { 
    align-items: center;
}
/* Side Navigation Bar */
.sidenav {
    background-color: #E26CBA;
    color: #FFFFFF;
    position: fixed;
    top: 0; 
    left: 0; 
    height 100vh; 
    width: 200px; 
}
.sidenav__links {
    display:flex;
    align-items: center;
    flex-direction: row; 
}
.sidenav a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.sidenav a:hover {
  color: #3F0068;
}
.sidenav--open {
    left: 0;
}
