.body {
  background-color: #FFFFFF;
}
h1 {
    text-align: center; 
    color: #3F0068;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: #3F0068;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100vw; 
  text-align: center; 
}
.navbar__links {
    align-items: center;
}
.material-icons {
    margin: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a {
  display: inline-grid; 
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.navbar a:hover {
  color: #E26CBA;
}
/* Side Navigation Bar */
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E26CBA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.material-icons {
    margin: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.sidenav a:hover {
  color: #3F0068;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  background-color: #E26CBA; 
  overflow: hidden;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
    left: 0;
    padding: 15px; 
}
.social {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed; 
    bottom: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}
.socialicons {
    margin: 0.7em;
}
/* Notifications */
.notifications {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #9E4287;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.right {
    right: 0;
    padding: 15px; 
}
.alert {
    border: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
/* Resources */
.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 120px
}
p {
    text-align: right;
}
/* Learn */
.resources {
    color: #FFFFFF;
    overflow: hidden; 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.comment-container {
    background-color: #82C5F4; 
    color: #FFFFFF;
    overflow: hidden; 
    width: 90vw; 
    margin-bottom: 0.8em;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 4px #82C5F4;
    margin: 20px;
}

.comment-container .title{
    text-align: left;
    font-weight: bold;
    color: #3F0068;
    font-size: 22px;
}
.comment-container .description{
    color: #FFFFFF;
    text-align: left;
    font-size: 16px;
}
.comment-container .resourcetype{
    color: #9E4287;
    font-size: 16px;
}