.body {
  background-color: #FFFFFF;
}
h1 {
    text-align: center; 
    color: #3F0068;
    font-family: 'Poppins', sans-serif;
}
h2 {
    text-align: center; 
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: #3F0068;
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100vw; 
  text-align: center;
}
.navbar__links {
    align-items: center;
}
.material-icons {
    margin: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a {
  display: inline-grid; 
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  padding: 2px 8px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.navbar a:hover {
  color: #E26CBA;
}
/* Side Navigation Bar */
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E26CBA;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  border-bottom: solid 1px #FFFFFF;
}
.material-icons {
    margin: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.sidenav a:hover {
  color: #3F0068;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  background-color: #82C5F4; 
  overflow: hidden;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
    left: 0;
    padding: 15px;
}
/* Notifications */
.notifications {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #9E4287;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #FFFFFF;
  text-align: center;
}
.right {
    right: 0;
    padding: 15px;
}
.subject1 {
    overflow: hidden;
    border: solid 4px;
    border-color: #E26CBA;
    color: #E26CBA; 
    margin-top: 100px;
}
.subject2 {
    overflow: hidden;
    border: solid 4px;
    border-color: #3F0068; 
    color: #3F0068;
    margin-top: 30px; 
}
.subject3 {
    overflow: hidden;
    border: solid 4px;
    border-color: #9E4287;
    color: #9E4287;
    margin-top: 30px;
}
.alert {
    border: 1px;
    border-style: solid;
    border-color: #FFFFFF;
}
/* Grid */
.grid-container {
  display: grid;
  margin-top: 30px;
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}
.grid-container3 {
  display: grid;
  margin-top: 30px;
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-bottom: 100px;
}
.grid-item {
  background-color: #E26CBA;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px; 
  font-family: 'Poppins', sans-serif;
  color: #3F0068; 
}

.item3 {
  grid-column: 1 / span 2;
  grid-row: 2;
}
.triangles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.triangle {
    overflow: hidden; 
	width: 0;
	height: 0;
	border-right: 50px solid  transparent; 
	border-left: 50px solid  transparent; 
	border-bottom: 86.60254px solid #E26CBA; 
    margin: 10px;
}
.triangle2 {
    overflow: hidden; 
	width: 0;
	height: 0;
	border-right: 50px solid  transparent; 
	border-left: 50px solid  transparent; 
	border-bottom: 86.60254px solid #3F0068; 
    margin: 10px;
}
.triangle3 {
    overflow: hidden; 
	width: 0;
	height: 0;
	border-right: 50px solid  transparent; 
	border-left: 50px solid  transparent; 
	border-bottom: 86.60254px solid #9E4287; 
    margin: 10px;
}
.social {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed; 
    bottom: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}
.socialicons {
    margin: 0.7em;
}